@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main{
  min-height: 80vh;
}

@media (max-width: 768px) {
  .grid {
    display: flex;
    flex-direction: column;
  }

  .ProductCard {
    width: 100%;
  }

}

.logo {
  position: relative;
  top: 0;
}

.cromo-blue {
  background-color: #3eb1be;
}

.menu-background {
  background-color: black;
}

.footer {
  width: 100%;
  margin-top:300px;
  padding-bottom:40px;
  padding-left: 30px;
}

.footer-cromo {
  margin-top: 12px;
  width: 100%;
  font-size: 16px;
}

.footer-direitos {
  width: 100%;
  font-size: 15px;
  margin-top: 12px;
}

.footer-local {
  width: 100%;
  margin-top: 24px;
  margin-left: 0px;
  font-size: 15px;
}

.footer-contatos {
  width: 100%;
  font-size: 15px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.photo-icone {
  width:16px;
  color: green;
  float: left;
  margin-right: 12px;
}